body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.navbar {
  background-color: #003366;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav a {
  color: white;
  margin: 15px;
  text-decoration: none;
}

.page {
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin-top: 15px;
  border-radius: 8px;
}

input,
select,
button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  width: 200px;
}

button {
  background-color: #003366;
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  input,
  select,
  button {
    width: 100%;
  }
  
}

.comparison-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  flex: 1;
  min-width: 250px;
}
